
   
    <!DOCTYPE html>
    <html>
    <head>
        <center>
    <style>
    div {
      background-color: lightgrey;
      width: 300px;
      border: 15px solid rgb(8, 8, 8);
      padding: 50px;
      margin: 50px;
      text-align: center;
      
    
}

    
    </style>

    <body>
    
 <div>Dear Customer <p>Thank you for visiting us and making your first purchase! <br>
    <p>We're glad that you found what you were looking for. <br>
    <p>It is our goal that you are always happy with what you bought from us, so please let us know if your buying experience was anything short of excellent.<br> 
    <P>We look forward to seeing you again.
       
      
    </div>
    </head>
    </body>
</center>
</div>

</hmtl>